<form id="login-form" method="post" action="{% url 'auth:login' %}">
    {% csrf_token %}
    <h1 class="titulo text-center">Entrar</h1>
    {{ form.as_p }}
    <button class="btn btn-light btn-block" type="submit" role="button" >Entrar</button>
</form>
