<h1>Perfil Público:</h1>


<h3>ID</h3>
<label>{{ profile.pk }}</label>

<h3>Este perfil é publico?</h3>
<label>{{ profile.publico }}</label>

<h4>Nome:</h4>
<label>{{ profile.nome }}</label>

<h4>Idade:</h4>
<label>{{ profile.idade }}</label>

<h4>Sexo:</h4>
<label>{{ profile.sexo }}</label>

<h4>País:</h4>
<label>{{ profile.pais }}</label>

<h4>Estado:</h4>
<label>{{ profile.estado }}</label>

<h4>Cidade:</h4>
<label>{{ profile.cidade }}</label>

<h4>Filmes Favoritos:</h4>
<label>{{ profile.filme }}</label>

{% if is_user_profile %}
    <div>
        <a type="button" href="{% url 'auth:profile_setup' id=profile.id %}">Configurações</a>
    </div>

    <div>
        <a type="button" href="{% url 'auth:profile_edit' id=profile.id %}">Editar Perfil</a>
    </div>
{% endif %}
